*{
	box-sizing: border-box;
}
nav.header a{

}
h1{
	text-align: center;
}
div.blog{
	width: 33.33%;
	float: left;
}

section.about div.description {
	float: left;
	width: 70%;
}
a img {
	width: 50px;
}